<!-- This will get route post before do action in this form function -->
<!-- => form action .. method .. is wrong  -->
 <form  method="POST" action="<%= url %>?_method=DELETE">
<button type="submit">Delele</button>
 </form>