<header>
    My Shop
    <nav>
    <a href=""></a>
    <ul>
        <li><a href="/partners">Partners</a></li>
        <li><a href="/partners/new">New Partner</a></li>
        <li><a href="/products">Product</a></li>
        <li><a href="/products/new">New Product</a></li>
    </ul>
    </nav>
</header>