<label for="">Partner name</label>
<!--Fill out partner name and make a variable to send to route file   -->
<input type="text" name="partner_name" placeholder="Please fill out your name here" value="<%= partner.name%>">
<label for="">Country</label>
<input type="text" name="partner_country">
<label for=" ">Contact number </label> <%=   %>
<input type="text" name="partner_number" id="">
