<h2>
    Vui lòng nhập thông tin khách hàng
</h2>
<form action="/partners" method="post">
    <%- include('form_fields')  %>
<a href="/partners">Cancle</a>
<button type="submit"> Create</button>
</form>