<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Giỏ hàng</title>
    <link rel="icon" type="x-icon" href="sneakers.ico">
    <link rel="stylesheet" href="Giohang.css">
</head>
<body>
    <div class="container">
        <div class="form">
            <a href="Giohang1.html" class="link">
                <div class="card nike">
                    <div class="tren">
                        <img class="anh" src="giay.jpg" alt="">
                    </div>
                    <div class="duoi">
                        <h1>NIKE</h1>
                    </div>
                </div>
            </a>
            <div class="card adidas">
                <div class="tren">
                    <img class="anh" src="giay6.jpg" alt="">
                </div>
                <div class="duoi">
                    <h1>ADIDAS</h1>
                </div>
            </div>
            <div class="card puma">
                <div class="tren">
                    <img class="anh" src="giaypuma.jpg" alt="">
                </div>
                <div class="duoi">
                    <h1>PUMA</h1>
                </div>
            </div>
            <div class="card newbalance">
                <div class="tren">
                    <img class="anh" src="nb1.jpg" alt="">
                </div>
                <div class="duoi">
                    <h1>NEW BALANCE</h1>
                </div>
            </div>
        </div>
    </div>
</body>
</html>