<!-- Create new product -->
<h2>
    Yêu cầu nhập thông tin thanh toán 
</h2>
<!-- enctype respresent for multiform , it mean user will upload data file to sever  -->
<form action="/products" method="post" enctype="multipart/form-data">
    <%- include('form_fields') %>
<a href="/home">Cancle</a>
<button type="submit"> Create</button>
</form>